@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
/*showcase*/
.showcase{
  height: 100vh;
  background: url('https://firebasestorage.googleapis.com/v0/b/medias-da388.appspot.com/o/julius.jpg?alt=media&token=3ddcc550-ec34-414e-a319-d4caf16140e2') no-repeat center/cover;
  
}
.showcase .overlay{
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
}
.my-section{
  background-color:black;
}
.icons{
  border-radius: 50%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
p{
  font-family: 'Roboto', sans-serif;
}
.service{
  background-color: #E5E7EB;
}

/*End of protifolio style*/
.App {
  text-align: center;
}

